.Collection-Component{
  margin-top: 100px;
}
.category-list{
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  padding: 15px;
  margin: 18px;
  font-size: 18px;
}
.category-list li{
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.category-item{
  width: 150px;
  height: 150px;
  margin: 10px;
  text-align: center;
  /* background-color: red; */
}

.category-item img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}