@media only screen and (min-width: 280px){
    header{
        flex-direction: column;
    }
    .menu-nav{
        display: none;
    }
    .menu-row{
        display: flex;
        margin-top: 130px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    header{
        flex-direction: row;
    }
    .menu-nav{
        display: none;
    }
    .menu-row{
        display: flex;
        margin-top: 100px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    header{
        flex-direction: row;
    }
    .menu-nav{
        display: block;
    }
    .menu-nav a{
        font-size: 14px;
    }
    .menu-row{
        display: none;
    }
}


@media only screen and (min-width: 1200px) {
    header{
        flex-direction: row;
    }
    .menu-nav{
        display: block;
    }
    .menu-row{
        display: none;
    }
}
