
.login-form,
.signup-form,
.forgotPasswordForm{
    background-color: black;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 20px;
}

.login-header h1,
.signup-header h1,
.form-header h1{
    color: red;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.login-header p,
.signup-header p,
.form-header p {
    color: white;
    font-size: 16px;
    margin-bottom: 18px;
    text-align: center;
}

.data-input label {
    display: block;
    margin-bottom: 15px;
    color: white;
}

.data-input input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid red;   
    border-radius: 4px;
    box-sizing: border-box; 
    background-color: black;
    color: white;
    outline: none;
}
.data-input input::placeholder{
    color: white 0.5;
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
}

.description a {
    color: red;
}

.login-footer,
.signup-footer,
.form-footer {
    margin-top: 30px;
}

.login-footer button ,
.signup-footer button,
.form-footer button
{
    width: 100%;
    margin-top: 18px;
    padding: 10px 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-footer button:hover,
.signup-footer button:hover,
.form-footer button:hover {
    background-color: white;
    color: red;
}



.error-message {
    color: #ff3860;
    font-size: 14px;
    margin-top: 5px;
}
@media only screen and (min-width: 280px){
    .login-form ,
    .signup-form,
    .forgotPasswordForm{
        width: 70%;
        margin-top: 0px;
    }
    .login-header h1,
    .signup-header h1,
    .form-header h1{
        font-size: 16px;
    }
    .login-header p,
    .signup-header p,
    .form-header p {
        font-size: 12px;
    }
    .data-input label {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .description {
        margin-top: 10px;
        font-size: 12px;
    }
    .login-footer,
    .signup-footer,
    .form-footer {
        margin-top: 12px;
    }
    .login-footer span,
    .signup-footer span,
    .form-footer span {
        font-size: 12px;
    }
    .login-footer button ,
    .signup-footer button,
    .form-footer button
    {
    margin-top: 8px;
    padding: 8px 0;
    font-size: 12px;
    }
    .error-message {
        font-size: 8px;
    }
}



@media only screen and (min-width: 768px) and (max-width: 991px) {
    .login-header h1,
    .signup-header h1,
    .form-header h1{
        font-size: 18px;
        margin-top: 0px;
    }
    .login-header p,
    .signup-header p,
    .form-header p {
        font-size: 14px;
    }
    .data-input label {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .description {
        margin-top: 12px;
        font-size: 14px;
    }
    .login-footer,
    .signup-footer,
    .form-footer {
        margin-top: 16px;
    }
    .login-footer span,
    .signup-footer span,
    .form-footer span {
        font-size: 16px;
    }
    .login-footer button ,
    .signup-footer button,
    .form-footer button
    {
    margin-top: 10px;
    padding: 12px 0;
    font-size: 16px;
    }
    .error-message {
        font-size: 8px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
   
}
      
@media only screen and (min-width: 1200px) {
    
}
